section#about-meHREF.about-me
    .about-me__container
        .about-me__photo-man
            img(alt="Man" src="img/about.png")
        .about-me__description
            h2.about-me__title About me
            span.about-me__subtitle Who am i
            p.about-me__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros. Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius.
            .about-me__btns
                .btn-container
                    a(href="#").btn.btn--hire-me.btn--bg-color: span Hire me
                .btn-container
                    a(href="#").btn.btn--my-resume.btn--bg-color: span See my resume