footer#footerHREF.footer
    .footer__container
        .footer__contact
            span.footer__copyright © 2018 UI43 - Free Templates
            .social.social--footer
                a(href="#" title="be" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__be.png" alt="be")
                a(href="#" title="dribbble" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__dribbble.png" alt="dribbble")
                a(href="#" title="in" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__in.png" alt="in")
                a(href="#" title="fb" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__fb.png" alt="fb")
                a(href="#" title="instagram" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__instagram.png" alt="instagram")
                a(href="#" title="twitter" target="_blank").social__btn.social__btn--footer
                    img(src="img/footer__twitter.png" alt="twitter")
        nav.menu.menu--footer
            ul.menu__elements
                li.menu__item: a(href="#workHREF"): span Work
                li.menu__item: a(href="#about-meHREF"): span About Me
                li.menu__item: a(href="#blogHREF"): span Blog
                li.menu__item: a(href="#contactHREF"): span Contact
                li.menu__item.menu__item--btn-footer: a(href="#"): span HIRE ME