header.header
    .header__container
        .header__avatar
            .header__circle
            .header__labels
                span.header__name 
                    | Lewis
                    br
                    | Nathaniel
                    br
                span.header__prof UI & UX Designer
        nav.menu.menu--header
            .menu__burger
                div
                div
                div
            ul.menu__elements
                li.menu__item: a(href="#workHREF"): span Work
                li.menu__item: a(href="#about-meHREF"): span About me
                li.menu__item: a(href="#blogHREF"): span Blog
                li.menu__item: a(href="#footerHREF"): span Contact
                li.menu__item.menu__item--btn: a(href="#").btn.btn--menu-header.btn--bg-color-m: span Hire me