section.hero
    h2.hero__title Greeting
    .hero__container
        .hero__greeting
            span.hero__header Hello, I'm
            span.hero__subhead Lewis Nathaniel
            span.hero__description UI & UX Designer
            .social.social--hero
                a(href="#" title="be" target="_blank").social__btn.social__btn--be.social__btn--hero
                    img(src="img/hero__be.png" alt="be")
                a(href="#" title="dribbble" target="_blank").social__btn.social__btn--dribble.social__btn--hero
                    img(src="img/hero__dribbble.png" alt="dribble")
                a(href="#" title="in" target="_blank").social__btn.social__btn--in.social__btn--hero
                    img(src="img/hero__in.png" alt="in")
                a(href="#" title="fb" target="_blank").social__btn.social__btn--fb.social__btn--hero
                    img(src="img/hero__fb.png" alt="fb")
                a(href="#" title="instagram" target="_blank").social__btn.social__btn--instagram.social__btn--hero
                    img(src="img/hero__instagram.png" alt="intagram")
                a(href="#" title="twitter" target="_blank").social__btn.social__btn--twitter.social__btn--hero
                    img(src="img/hero__twitter.png" alt="twitter")
            .hero__btns
                .btn-container
                    a(href="#").btn.btn--bg-color.btn--hire-me
                        span Hire me
                .btn-container
                    a(href="#").btn.btn--bg-color.btn--my-resume
                        span See my resume
        .hero__photo-man
            img(alt="Man" src="img/topMan.png")