section#testimonialHREF.testimonial
    h2.testimonial__title Testimonial
    .testimonial__top
        p.testimonial__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum.
    .testimonial__circle
    .testimonial__marketing
        span.testimonial__marketing-title Edward M. Brooks
        span.testimonial__marketing-subtitle Marketing House
    .rating
        input(type="radio" id="star5" name="rating" value="5")
        label(for="star5" title="Rocks!") 5 stars
        input(type="radio" id="star4" name="rating" value="4")
        label(for="star4" title="Pretty good") 4 stars
        input(type="radio" id="star3" name="rating" value="3")
        label(for="star3" title="Meh") 3 stars
        input(type="radio" id="star2" name="rating" value="2")
        label(for="star2" title="Kinda bad") 2 stars
        input(type="radio" id="star1" name="rating" value="1")
        label(for="star1" title="Sucks big time") 1 star